@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

:root
{
    --NavBar: #000000;
    --Color-2: #dc3545;
    --Color-3:#02111B;
    --Color-4:#ffb700;
    --TitleFont: whitesmoke;
    --Color-6: rgb(124, 29, 20);
}

/* BODY */

#cuerpoNot{
    margin-top: 2em;
}

div#noticiaHeader{
    margin-left: 1em;
}

div#noticiaBG{
    margin-left: 1em;
    margin-top: 1em;
    border-radius: 5px;
    background-color: white;
}

div#commentsBG{
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: white;
}

div#sectionHeader{
    background-color: var(--Color-6);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

div#tituloNoticia{
    background-color: black;
    font-family: 'Oswald', sans-serif;  
    font-size: 370%;
    color: var(--TitleFont);
    text-align: left;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#nomReportero, #datePublicacion{
    font-family: 'Roboto', sans-serif;   
    font-size: 25% !important;
    margin-bottom: 1rem;
}

#datosAcontecimiento{
    font-family: 'Roboto', sans-serif;   
    font-size: 100% !important;
    margin-top: 1em;
    font-weight: bold;
    font-style: italic;
    padding-left: 2em;
}

#noticiaBody{
    font-family: 'Roboto', sans-serif;  
    padding-top: 1em;  
    padding-left: 2em;  
    padding-right: 2em;
}

#descripcion{
    font-style: italic;
}

#fullBody{
    font-style: italic;
    margin-top: 1em;
}

.carousel-inner img{
    width: 100%;
    height: 400px;
}

#fechaCreacion{
    font-family: 'Roboto', sans-serif;  
    font-size: 80% !important;
    font-weight: bold;
    font-style: italic;
    text-align: right;  
}

i.fa{
    margin-right: 8px;
}

.btn#BTLike{
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-family: 'Oswald', sans-serif !important;
 }
 
 .btn#BTLike:hover{
    color: var(--TitleFont);
    font-family: 'Oswald', sans-serif !important;
 }

 span#liked{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin-left: 1rem;
 }

/* COMMENTS */

#titleComms{
    font-family: 'Oswald', sans-serif;  
    margin-top: 1rem;
    margin-left: 1rem;
}

/*.comments-details button.btn.dropdown-toggle,
.comments-details,*/ .totalComments {
    margin-left: 1rem;
    font-family: 'Oswald', sans-serif;  
    font-size: 18px;
    font-weight: 500;
    color: #5e5e5e;
}

.comments .add-comment input:focus {
    border-color: var(--Color-2)    ;
    border-width: 2px;
}

.comments .add-comment button[type=submit]{
    font-family: 'Oswald', sans-serif !important;
    margin-right: 1rem;
 }

.comments .add-comment button[type=cancel]{
    font-family: 'Oswald', sans-serif !important;
 }
 
button.comment-reply{
    font-family: 'Oswald', sans-serif !important;
    margin-right: 1rem;
 }

.comments .add-comment button {
    margin: 10px 5px;
    font-size: 14px;
    float: right;
}

.comments .commenter-pic-mine, .commenter-pic{
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
}

.commenter-pic{
    margin-top: 1rem;
    margin-left: 1rem;
}

.comments .add-comment .commenter-name {
    width: 100%;
    padding-left: 75px;
    position: absolute;
    top: 20px;
    left: 0px;
}

.comments .commenter-name {
    font-family: 'Oswald', sans-serif;  
    display: inline-block;
    position: relative;
    top: -20px;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
    color: var(--Color-2);
}

.comments .commenter-name .comment-time {
    font-family: 'Roboto', sans-serif;  
    font-weight: normal;
    margin-left: 8px;
    font-size: 15px;
    color: var(--NavBar);
}

.comments p.comment-txt {
    font-family: 'Roboto', sans-serif;  
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    margin-top: 1rem;
    margin-left: 3rem;
    padding-bottom: 15px;
}

.comments .comment-box {
    width: 100%;
    float: left;
    height: 100%;
    background-color: #FAFAFA;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.comments .add-comment{
    background-color: transparent;
    border: none;
    position: relative;
    margin-bottom: 2rem;
}

.comments .add-comment input {
    font-family: 'Roboto', sans-serif;  
    border-top: 0px;
    border-bottom: 1px solid #ccc;
    border-left: 0px;
    border-right: 0px;
    outline: 0px;
    box-shadow: none;
    width: 98%;
    padding: 0;
    font-weight: normal;
}

.comments .comment-meta {
    font-family: 'Oswald', sans-serif;  
    font-size: 14px;
    color: #333;
    padding: 2px 5px 0px;
    line-height: 20px;
    float: right;
}

.comments .replied {
    background-color: #fff;
    width: 95%;
    float: right;
    margin-top: 15px;
} 

.card{
    margin-bottom: 1rem;
    height: auto;
}

.revisionNoticias{
    height: 33rem;
}

.titleNotRev, .titleEnvRev, .titleEnRed, .titleNotPub{
    font-family: 'Oswald', sans-serif;
}

.card button{   
    font-family: 'Oswald', sans-serif !important;
}

.card button.editorVisual{
    margin-top: 1em;
}

.card h4#Publicacion, .card h4#Reportero, .card #pubNotPub{
    font-family: 'Roboto', sans-serif;
    font-size: 90%;
    font-weight: bold;
    margin-bottom: 0;
}

/* ----------------- GESTION NOTICIAS --------------*/

div#hTitle{
    background-color: black;
    font-family: 'Oswald', sans-serif;  
    font-size: 370%;
    color: var(--TitleFont);
    text-align: left;

    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.pendRev {
    height: auto;
}

.pendRev .card-img{
    height: 197px;
    object-fit: cover;
}

.pendRev .verCom{
    padding-top: 1px;
    padding-bottom: 1px;
}

.pendRev h4#PublicRev{
    font-family: 'Roboto', sans-serif;
    font-size: 90%;
    font-weight: bold;
    margin-bottom: 0;
}

.EnvRev #PublicEnv{
    font-family: 'Roboto', sans-serif;
    font-size: 80%;
    font-weight: bold;
    display: inline;
}

.EnvRev .card-img{
    height: 97px;
    object-fit: cover;
}

.enRed{
    margin-left: 1rem;
}

.enRed .buttons{
    margin-top: 4.2em;
    margin-left: 29em;
}

.enRed .barBut{
    margin-left: 1rem;
}

.notPub #btnSeeNot{
    margin-top: 1em;
    width: 100%;
}

.bodyNotPub .bodyEnRed{
    font-family: 'Roboto', sans-serif;
}

#DevRev, #EnvRev, #EnRed, #NotPub{
    background-color: black;
    font-family: 'Oswald', sans-serif;
    color: var(--TitleFont);
    text-align: left;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

div#EnRed, div#NotPub{
    margin-top: 0rem;
}

h4.titleNoticia, h4.titleNoticiaRec{
    font-family: 'Oswald', sans-serif; 
}

p.FNoticia, p.descrNoticiaRec{
    font-family: 'Roboto', sans-serif; 
}


/* ------------------- MODAL -------------------*/

.modal-lg {
    max-width: 90% !important;
}

div#noticiaBGVista{
    background-color: white;
}

div#sectionHeaderVista, div#sectionCommentVista{
    background-color: var(--Color-6);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

div#tituloNoticiaVista, div#tituloCommentVista{
    background-color: black;
    font-family: 'Oswald', sans-serif;  
    font-size: 370%;
    color: var(--TitleFont);
    text-align: left;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#nomReporteroVista, #nomReporteroVistaComm{
    font-family: 'Roboto', sans-serif;   
    font-size: 25% !important;
    margin-bottom: 1rem;
}

#datosAcontecimientoVista, #ingreseComentario{
    font-family: 'Roboto', sans-serif;   
    font-size: 100% !important;
    margin-top: 1em;
    font-weight: bold;
    font-style: italic;
}

#noticiaBodyVista{
    font-family: 'Roboto', sans-serif;  
    padding-top: 1em;  
    padding-left: 2em;  
    padding-right: 2em;
}

#descripcionVista{
    font-style: italic;
}

#fullBodyVista{
    font-style: italic;
    margin-top: 1em;
}

#fechaCreacionVista{
    font-family: 'Roboto', sans-serif;  
    font-size: 80% !important;
    font-weight: bold;
    font-style: italic;
    text-align: right;  
    margin-top: 1em;
}

.modal-body button{   
    font-family: 'Oswald', sans-serif !important;
    margin-right: .5em;
}

#inputComments{
    margin-top: 1em;
}

#inputComments textarea#eComments{
    font-family: 'Roboto', sans-serif !important;
    outline: none;
    border: 1px solid var(--Color-2);
    border-radius: 5px;
    width: 100%;
    resize: none;
}

#inputComments textarea#eComments:focus{
    border: 2px solid var(--Color-2);
    background-color: #f5f5f5;
    outline: none;
}

/* --------------- newsEditor ---------------*/

hr.topNews{
    border: 1px solid black;
    width: 95%;
    margin-top: 0.8em;
    margin-bottom: 0;
}

.topBarNew{
    font-family: 'Oswald', sans-serif !important;
    margin-top: 2em;
    float: right;
}

/* ---------------- Editor de Noticias --------------*/

div#EditNot{
    background-color: black;
    font-family: 'Oswald', sans-serif;  
    font-size: 370%;
    color: var(--TitleFont);
    text-align: left;
    border-radius: 5px;
}

div#EditNot{
    background-color: black;
    font-family: 'Oswald', sans-serif;  
    font-size: 370%;
    color: var(--TitleFont);
    text-align: left;
    border-radius: 5px;
}

#inputNoticia{
    margin-top: 1rem;
}

textarea#headerNot{
    font-family: 'Oswald', sans-serif !important;
    outline: none;
    border: 1px solid var(--NavBar);
    border-radius: 5px;
    width: 100%;
    resize: none;
    font-size: 36px;
    color: var(--NavBar);
}

textarea#headerNot:focus{
    border: 2px solid var(--Color-2);
    background-color: #f5f5f5;
    outline: none;
}

textarea#infoNotfeho, textarea#infoNotlug, textarea#descNoticia{
    font-family: 'Roboto', sans-serif !important;
    outline: none;
    border: 1px solid var(--NavBar);
    border-radius: 3px;
    width: 100%;
    resize: none;
    color: var(--NavBar);
    font-style: italic;
}

textarea#notEdiNoticia{
    font-family: 'Oswald', sans-serif !important;
    outline: none;
    border: 2px solid var(--Color-2);
    border-radius: 3px;
    background-color: #e4e4e4;
    width: 100%;
    resize: none;
    color: var(--NavBar);
    font-style: italic;
    box-shadow: 0 0 8px var(--Color-2);
}

textarea#infoNotfeho:focus, textarea#infoNotlug:focus, textarea#descNoticia:focus{
    border: 2px solid var(--Color-2);
    background-color: #f5f5f5;
    outline: none;
}

textarea#bodyNoticia{
    font-family: 'Roboto', sans-serif !important;
    outline: none;
    border: 1px solid var(--NavBar);
    border-radius: 3px;
    width: 100%;
    resize: none;
    color: var(--NavBar);
}

textarea#bodyNoticia:focus{
    border: 2px solid var(--Color-2);
    background-color: #f5f5f5;
    outline: none;
}

#btnCancelinNot{
    float: right;
}

#carruselEdit{
    margin-top: 1em;
}

label#archivosNoticiaLbl{
    margin-top: 1em;
}

div#SeccionSel{
    font-family: 'Oswald', sans-serif !important;
    margin-top: 13em;
}

select#selectSeccion{
    font-family: 'Oswald', sans-serif !important;
    color: var(--Color-2);
    border: 1px solid var(--Color-2);
}

select#selectSeccion:focus{
    box-shadow: 0 0 4px var(--Color-2);
}

/*select#selectSeccion option:checked{
    color: var(--TitleFont);
    background-color: var(--Color-2);
}*/

button#btnDeleteSlide{
    margin-top: 1em;
}

/* --------------- Perfil -------------- */

#datosPerfil{
    font-family: 'Oswald', sans-serif;
    text-align: left;
    color: var(--NavBar);
    margin-top: 1rem;
}

hr.topProfile{
    border: 1px solid black;
    width: 95%;
    margin-top: 0;
    margin-bottom: 1rem;
}


hr.imgProfile{
    border: 1px solid black;
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

div.container-datos label{
    font-family: 'Oswald', sans-serif;
}

div.container-datos input{
    font-family: 'Roboto', sans-serif;
}

div.container-datos input:focus{
    border: 1px solid var(--Color-2);
    box-shadow: 0 0 4px var(--Color-2);
}

div#displaypfp img{
    width: 200px;
    height: 200px;
    border: 2px solid var(--Color-2);
    box-shadow: 0 0 20px var(--Color-2);
    border-radius: 100%;
    object-fit: cover;
    overflow: hidden;
    margin-top: 1rem;
    margin-left: 3rem;
}

.custom-file-upload-pfp {
    font-family: 'Oswald', sans-serif;
    border: 1px solid var(--Color-2);
    color: var(--Color-2);
    border-radius: 5px;
    padding: 6px 62px;
    cursor: pointer;
}

.custom-file-upload-pfp:hover {
    border: 1px solid var(--Color-2);
    background-color: var(--Color-2);
    color: var(--TitleFont);
}

button.btnBarProfile{
    font-family: 'Oswald', sans-serif;
    width: 100%;
    margin-bottom: 0.5rem;
}

button.btnBarData{
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1rem;
    margin-left: 1rem;
    float: right;
}

button.btnBarData#btnModDat{
    float: left;
    margin-left: 0;
}






.comments-details {
    padding: 15px 15px;
}

.comments .comments .dropdown,
.comments .dropup {
    position: relative;
}  

/*======Responsive CSS=======*/
@media (max-width: 767px){
.comments .commenter-name {
    font-size: 13px;
    top: -5px;
}
.comments .commenter-pic {
    width: 40px;
    height: 40px;
}
.comments .commenter-name a{
  display: block;
}
.comments .commenter-name .comment-time{
  display: block;
  margin-left: 0px;
}
}