@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

:root
{
    --NavBar: #000000;
    --Color-2: #dc3545;
    --Color-3:#02111B;
    --Color-4:#ffb700;
    --TitleFont: whitesmoke;
    --Color-6: rgb(124, 29, 20);
}

body{
    background-color: whitesmoke !important;
    overflow-x: hidden;
}

/* NAVBAR */

nav.navbar#navBar{
    background-color: var(--NavBar) !important;
}

.navbar .navbar-nav li a:hover{
    color: var(--Color-2) !important;
}

.navbar .navbar-nav li a:active{
    color: var(--Color-2) !important;
}

.navbar .navbar-nav li{
    padding-right: 10px;
}

.navbar .navbar-nav li a{
    color:var(--TitleFont) !important;
    font-family: 'Oswald', sans-serif !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item{
    color: black !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item:active{
    background-color: gainsboro !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover{
    color: var(--Color-2) !important ;
}

/* SEARCHBAR */

.btn#BTSearch{
   color: var(--TitleFont);
   font-family: 'Oswald', sans-serif !important;
}

.btn#BTSearch:hover{
   color: var(--TitleFont);
   font-family: 'Oswald', sans-serif !important;
}

#BRSearch{
    width:500px !important;
    font-family: 'Roboto', sans-serif !important;
}

@media (max-width: 425px){
    #BRSearch {
    width:180px !important;
    }

    #BTSearch {        
     margin-left: 15px;
    }
}

/* BODY */

#cuerpoNot{
    margin-top: 2em;
}

div#noticiaHeader{
    margin-left: 1em;
}

div#noticiaBG{
    margin-left: 1em;
    margin-top: 1em;
    border-radius: 5px;
    background-color: white;
}

div#commentsBG{
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: white;
}

div#sectionHeader{
    background-color: var(--Color-6);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

div#tituloNoticia{
    background-color: black;
    font-family: 'Oswald', sans-serif;  
    font-size: 370%;
    color: var(--TitleFont);
    text-align: left;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#nomReportero, #datePublicacion{
    font-family: 'Roboto', sans-serif;   
    font-size: 25% !important;
    margin-bottom: 1rem;
}

#datosAcontecimiento{
    font-family: 'Roboto', sans-serif;   
    font-size: 100% !important;
    margin-top: 1em;
    font-weight: bold;
    font-style: italic;
    padding-left: 2em;
}

#noticiaBody{
    font-family: 'Roboto', sans-serif;  
    padding-top: 1em;  
    padding-left: 2em;  
    padding-right: 2em;
}

#descripcion{
    font-style: italic;
}

#fullBody{
    font-style: italic;
    margin-top: 1em;
}

.carousel-inner img{
    width: 100%;
    height: 400px;
}

#fechaCreacion{
    font-family: 'Roboto', sans-serif;  
    font-size: 80% !important;
    font-weight: bold;
    font-style: italic;
    text-align: right;  
}

i.fa{
    margin-right: 8px;
}

.btn#BTLike{
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-family: 'Oswald', sans-serif !important;
 }
 
 .btn#BTLike:hover{
    color: var(--TitleFont);
    font-family: 'Oswald', sans-serif !important;
 }

 span#liked{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin-left: 1rem;
 }

/* COMMENTS */

#titleComms{
    font-family: 'Oswald', sans-serif;  
    margin-top: 1rem;
    margin-left: 1rem;
}

/*.comments-details button.btn.dropdown-toggle,
.comments-details,*/ .totalComments {
    margin-left: 1rem;
    font-family: 'Oswald', sans-serif;  
    font-size: 18px;
    font-weight: 500;
    color: #5e5e5e;
}

.comments .add-comment input:focus {
    border-color: var(--Color-2)    ;
    border-width: 2px;
}

.comments .add-comment button[type=submit]{
    font-family: 'Oswald', sans-serif !important;
    margin-right: 1rem;
 }

.comments .add-comment button[type=cancel]{
    font-family: 'Oswald', sans-serif !important;
 }
 
button.comment-reply{
    font-family: 'Oswald', sans-serif !important;
    margin-right: 1rem;
 }

.comments .add-comment button {
    margin: 10px 5px;
    font-size: 14px;
    float: right;
}

.comments .commenter-pic-mine, .commenter-pic{
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
}

.commenter-pic{
    margin-top: 1rem;
    margin-left: 1rem;
}

.comments .add-comment .commenter-name {
    width: 100%;
    padding-left: 75px;
    position: absolute;
    top: 20px;
    left: 0px;
}

.comments .commenter-name {
    font-family: 'Oswald', sans-serif;  
    display: inline-block;
    position: relative;
    top: -20px;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
    color: var(--Color-2);
}

.comments .commenter-name .comment-time {
    font-family: 'Roboto', sans-serif;  
    font-weight: normal;
    margin-left: 8px;
    font-size: 15px;
    color: var(--NavBar);
}

.comments p.comment-txt {
    font-family: 'Roboto', sans-serif;  
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    margin-top: 1rem;
    margin-left: 3rem;
    padding-bottom: 15px;
}

.comments .comment-box {
    width: 100%;
    float: left;
    height: 100%;
    background-color: #FAFAFA;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.comments .add-comment{
    background-color: transparent;
    border: none;
    position: relative;
    margin-bottom: 2rem;
}

.comments .add-comment input {
    font-family: 'Roboto', sans-serif;  
    border-top: 0px;
    border-bottom: 1px solid #ccc;
    border-left: 0px;
    border-right: 0px;
    outline: 0px;
    box-shadow: none;
    width: 98%;
    padding: 0;
    font-weight: normal;
}

.comments .comment-meta {
    font-family: 'Oswald', sans-serif;  
    font-size: 14px;
    color: #333;
    padding: 2px 5px 0px;
    line-height: 20px;
    float: right;
}

.comments .replied {
    background-color: #fff;
    width: 95%;
    float: right;
    margin-top: 15px;
} 

.card{
    margin-bottom: 1rem;
    height: auto;
}

.revisionNoticias{
    height: 33rem;
}

.card button{   
    font-family: 'Oswald', sans-serif !important;
}

.card button.editorVisual{
    margin-top: 1em;
}

.card h4#Publicacion, .card h4#Reportero{
    font-family: 'Roboto', sans-serif;
    font-size: 90%;
    font-weight: bold;
    margin-bottom: 0;
}

footer{
    background-color: var(--NavBar);
    color: var(--TitleFont);
    padding-top: 2rem;
    padding-bottom: 1rem;
}

hr.Light{
    border-top: 1px solid var(--TitleFont);
    width: 75%;
}

hr.Light-100{
    border-top: 1px solid var(--TitleFont);
    width: 100%;
}

/* ----------------- GESTION NOTICIAS --------------*/

div#hTitle{
    background-color: black;
    font-family: 'Oswald', sans-serif;  
    font-size: 370%;
    color: var(--TitleFont);
    text-align: left;

    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h4.titleNoticia, h4.titleNoticiaRec{
    font-family: 'Oswald', sans-serif; 
}

p.bodyNoticia, p.descrNoticiaRec{
    font-family: 'Roboto', sans-serif; 
}

.modal-lg {
    max-width: 90% !important;
}

/* ------------------- MODAL -------------------*/

div#noticiaBGVista{
    background-color: white;
}

div#sectionHeaderVista, div#sectionCommentVista{
    background-color: var(--Color-6);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

div#tituloNoticiaVista, div#tituloCommentVista{
    background-color: black;
    font-family: 'Oswald', sans-serif;  
    font-size: 370%;
    color: var(--TitleFont);
    text-align: left;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#nomReporteroVista, #nomReporteroVistaComm{
    font-family: 'Roboto', sans-serif;   
    font-size: 25% !important;
    margin-bottom: 1rem;
}

#datosAcontecimientoVista, #ingreseComentario{
    font-family: 'Roboto', sans-serif;   
    font-size: 100% !important;
    margin-top: 1em;
    font-weight: bold;
    font-style: italic;
}

#noticiaBodyVista{
    font-family: 'Roboto', sans-serif;  
    padding-top: 1em;  
    padding-left: 2em;  
    padding-right: 2em;
}

#descripcionVista{
    font-style: italic;
}

#fullBodyVista{
    font-style: italic;
    margin-top: 1em;
}

.carousel-inner img{
    width: 100%;
    height: 400px;
}

#fechaCreacionVista{
    font-family: 'Roboto', sans-serif;  
    font-size: 80% !important;
    font-weight: bold;
    font-style: italic;
    text-align: right;  
    margin-top: 1em;
}

.modal-body button{   
    font-family: 'Oswald', sans-serif !important;
    margin-right: .5em;
}

#inputComments{
    margin-top: 1em;
}

#inputComments textarea#eComments{
    font-family: 'Roboto', sans-serif !important;
    outline: none;
    border: 1px solid #9e2430;
    border-radius: 5px;
    width: 100%;
    resize: none;
}

#inputComments textarea#eComments:focus{
    border: 2px solid #9e2430;
    background-color: #f5f5f5;
    outline: none;
}










.comments-details {
    padding: 15px 15px;
}

.comments .comments .dropdown,
.comments .dropup {
    position: relative;
}  

/*======Responsive CSS=======*/
@media (max-width: 767px){
.comments .commenter-name {
    font-size: 13px;
    top: -5px;
}
.comments .commenter-pic {
    width: 40px;
    height: 40px;
}
.comments .commenter-name a{
  display: block;
}
.comments .commenter-name .comment-time{
  display: block;
  margin-left: 0px;
}
}