@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

:root
{
    --NavBar: #000000;
    --Color-2: #dc3545;
    --Color-3:#02111B;
    --Color-4:#ffb700;
    --Color-5: #6eb65f;
    --TitleFont: whitesmoke;
    --Color-6: rgb(124, 29, 20);
}

body{
    background-color: whitesmoke !important;
    overflow-x: hidden;
}

/* --------------- Header --------------- */

nav.navbar#navBar, nav.navbar#navBarSecciones{
    background-color: var(--NavBar) !important;
}

nav.navbar#navBarSecciones{
    height: 40px;
}

.navbar .navbar-nav li a:hover{
    color: var(--Color-2) !important;
}

.navbar .navbar-nav li a:active{
    color: var(--Color-2) !important;
}

.navbar .navbar-nav li{
    padding-right: 10px;
}

.navbar .navbar-nav li a{
    color:var(--TitleFont) !important;
    font-family: 'Oswald', sans-serif !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item{
    color: black !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item:active{
    background-color: gainsboro !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover{
    color: var(--Color-2) !important ;
}

/* Searchbar */

.btn#BTSearch{
   color: var(--TitleFont);
   font-family: 'Oswald', sans-serif !important;
}

.btn#BTSearch:hover{
   color: var(--TitleFont);
   font-family: 'Oswald', sans-serif !important;
}

#BRSearch{
    width:500px !important;
    font-family: 'Roboto', sans-serif !important;
}

#BRSearch:focus{
    border: 1px solid var(--Color-2);
    box-shadow: 0 0 5px var(--Color-2);
}

@media (max-width: 425px){
    #BRSearch {
    width:180px !important;
    }

    #BTSearch {        
     margin-left: 15px;
    }
}

/* --------------- Modal Login --------------- */

.modal-dialog#modLogIn {
    max-width: 70% !important;
}

.modal-body#bLogin label{
    font-family: 'Oswald', sans-serif;
}

.modal-body#bLogin div#login form{
    font-family: 'Roboto', sans-serif;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.modal-body#bLogin div#register form{
    font-family: 'Roboto', sans-serif;
}

.modal-body#bLogin div#login form input:focus, .modal-body#bLogin div#register form input:focus{
    border: 1px solid var(--Color-2);
    box-shadow: 0 0 4px var(--Color-2);
}

.nav-item#pillLog .nav-link:not(.active):hover, .nav-item#pillReg .nav-link:not(.active):hover{
    color: var(--Color-2);
    background-color: white;
    font-family: 'Oswald', sans-serif;
}

.nav-item#pillLog .nav-link:not(.active), .nav-item#pillReg .nav-link:not(.active){
    color: var(--Color-2);
    background-color: white;
    font-family: 'Oswald', sans-serif;
}

.nav-item#pillLog .nav-link, .nav-item#pillReg .nav-link{
    background-color: var(--Color-2) ;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    font-family: 'Oswald', sans-serif;
    border: 1px solid var(--Color-2);
    color: var(--Color-2);
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
    float: left;
    margin-top: 6rem;
}

.custom-file-upload:hover {
    border: 1px solid var(--Color-2);
    background-color: var(--Color-2);
    color: var(--TitleFont);
}

div#displayImg img{
    width: 200px;
    height: 200px;
    border: 2px solid var(--Color-2);
    box-shadow: 0 0 10px var(--Color-2);
    border-radius: 100%;
    object-fit: cover;
    overflow: hidden;
    margin-top: 1rem;
    margin-left: 3rem;
    float: right;
}

.modal-body button{   
    font-family: 'Oswald', sans-serif !important;
    margin-right: .5em;
}

.error{
    border: 1px solid var(--Color-2);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--Color-2);
}


/* --------------- Footer --------------- */

footer{
    background-color: var(--NavBar);
    color: var(--TitleFont);
    padding-top: 2rem;
    padding-bottom: 1rem;
}

hr.Light{
    border-top: 1px solid var(--TitleFont);
    width: 75%;
}

hr.Light-100{
    border-top: 1px solid var(--TitleFont);
    width: 100%;
}


/*------LISTA POPULARES-------*/



div.tarjetaPrincAside{
    
    background-color: rgb(221, 219, 219);
    color: white;
    max-width: 540px;
}
.listaPopu{
    padding: 1em;
    color: black;
}
#tituloPopulares{
    background-color: rgba(0, 0, 0, 0.753);
    padding: 1em;
    text-align: center;
}

.tarjetaSecund{
    margin-left: 1em;
    margin-top: 1em;
    max-width: 200px;
}
.img-popular{
    max-width: 150px;
}
