@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

:root
{
    --NavBar: #000000;
    --Color-2: #dc3545;
    --Color-3:#02111B;
    --Color-4:#ffb700;
    --TitleFont: whitesmoke;
    --Color-6: rgb(124, 29, 20);
}

body{
    background-color: whitesmoke !important;
    overflow-x: hidden;
}


/*--------------*/
#cuerpoNot{
    margin-top: 2em;
    
}

div#sectionHeader{
    margin-top: 1em;
}

div#headerDisplay{
  margin-left: -4em;
}

div#recentNoticias, div#masVisto{
    background-color: black;
    font-family: 'Oswald', sans-serif;  
    font-size: 250%;
    color: var(--TitleFont);
    text-align: left;
    border-radius: 5px;
}

div#noticiaBG{
    margin-left: 1em;
    margin-top: 1em;
    border-radius: 5px;
    background-color: white;
    width: 100%;
}

div#masVistoBG{
    margin-left: -0.8em;
    margin-top: 1em;
    border-radius: 5px;
    background-color: white;
    width: 100%;
}

div.BGSection{
    margin-left: 0.2em;
    margin-top: 1em;
    border-radius: 5px;
    background-color: white;
    width: 100%;
}

.tituloSeccion{
    background-color: black;
    font-family: 'Oswald', sans-serif;  
    font-size: 200%;
    color: var(--TitleFont);
    text-align: left;
}

.publishedNews, .mostViewed, .sectionNews{
  font-family: 'Roboto', sans-serif;
  font-size: 95%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.publishedNews .title, .mostViewed .title , .sectionNews .title{
  font-family: 'Oswald', sans-serif;
}

.publishedNews button, .mostViewed button, .sectionNews button{
  font-family: 'Oswald', sans-serif;
  width: 100%;
  margin-top: 10px;
}

.publishedNews .pubDate, .mostViewed .pubDate, .sectionNews .pubDate{
  font-family: 'Roboto', sans-serif;
  font-size: 90%;
  font-weight: bold;
  margin-bottom: 0;
}

.mostViewed .card-img-top{
    height: 100px;
    object-fit: cover;
}

.tarjetaSeccion{
    max-width: 540px; 
    margin: 2em; 
    border-style: solid; 
    border-color: black;
    border-width: 200px;
}

div.allSections{
  margin-bottom: 1em;
}

.butMoreInfo{
  border: none !important;
  float: right;
  margin-top: 10px;
}

.butMoreInfo:hover{
  background-color: #000000 !important;
}

@media (min-width: 40rem) {
    .tarjetaSeccion{
      width: 50%;
      
      
    }
  }
  
  @media (min-width: 56rem) {
    .tarjetaSeccion{
      width: 60%;
    }
  }

  @media (min-width: 72rem) {
    .tarjetaSeccion{
      width: 80%;
    }

  }