@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

:root
{
    --NavBar: #000000;
    --Color-2: #dc3545;
    --Color-3:#02111B;
    --Color-4:#ffb700;
    --TitleFont: whitesmoke;
    --Color-6: rgb(124, 29, 20);
}

body{
    background-color: whitesmoke !important;
    overflow-x: hidden;
}


/*--------------*/
#cuerpoNot{
    margin-top: 2em;
    
}

div#noticiaHeader{
    margin-left: -4em;
}

div#tituloNoticia{
    background-color: black;
    font-family: 'Oswald', sans-serif;  
    font-size: 250%;
    color: var(--TitleFont);
    text-align: left;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

div#noticiaBG{
    margin-left: 5em;
    margin-top: 1em;
    border-radius: 5px;
    background-color: white;
    float: left;
    width: 100%;
}



/*------------TARJETAS RESULTADO-----------------*/
.tituloSeccion{
    background-color: black;
    font-family: 'Oswald', sans-serif;  
    font-size: 200%;
    color: var(--TitleFont);
    text-align: left;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tarjetaResult{
    margin: 2em; 
    border-style: none;
    margin: auto;
    border-style: none !important;
}

.card-title a{
    background-color: black;
    color: var(--Color-2) !important ;
    background-size: 500px;
    font-family: 'Oswald', sans-serif;  
    font-size: 150%;
    padding-right: 50px;
    padding-left: 10px;
}

.imgTarjeta{
    padding-left: 1em !important;
    padding-bottom: 2em;
    max-width: 200px;
    
}



@media (min-width: 40rem) {
    .tarjetaResult{
      width: 50%;
      
      
    }
  }
  
  @media (min-width: 56rem) {
    .tarjetaResult{
      width: 60%;
    }
  }

  @media (min-width: 72rem) {
    .tarjetaResult{
      width: 80%;
    }

  }