#cuerpoNot{
    text-align:center;
    padding-bottom:2em;
}

div#noticiaBG{
    margin-left: 2em;
    margin-right:2em;
    padding-bottom:2em;
    max-width:1250px;
    padding-left:8em;
    margin:auto;
    text-align: center;
}
div#noticiaBG.row{
    padding-left: 5em;
    margin-left: 2em;
}
#tituloNoticia{
    background-color:black !important;
}

.listaSeccion{
    margin:3em;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
  }
 
  #sortable {
    list-style-type: none;
    margin:auto;
    text-align:center;
    max-width:800px;
  }
 
  
  .column, .sect {
    width: 162px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    cursor: move;
    margin:0px;
  }
  .column header, .sect header {
    height: 60px;
    width: 800px;
    color: black;
    background-color: rgb(236, 234, 234);
    padding: 5px;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
    border: 2px solid #666666;
    margin-top:0.5em;
    
  }
  .column label,.sect label{
      font-weight: bolder;
      width:8em;
    }
  
  .column.dragElem,.sect.dragElem {
    opacity: 0.4;
  }
  .column.over {
    border: 2px dashed #000;
    border-top: 2px solid blue;
  }
  
.colorSeccion{
    width: 200px;
    height:30px;
    background-color:white;
    margin-right:2em;
    margin-top:0.5em;
}
#option-1 {
    background-color: rgb(124, 0, 0) !important;
  }
  #option-2 {
    background-color: rgb(0, 65, 0) !important;
  }
  
  #option-3 {
    background-color: rgb(233, 233, 124) !important;
  }
  
  #option-4 {
    background-color: rgb(0, 0, 88) !important;
  }

  .btnEdit, .btnDel{
    color: var(--TitleFont);
    font-family: 'Oswald', sans-serif !important;
    background-color:black !important;
    margin-left:2em;
 }
 
 .btnEdit:hover, .btnDel:hover{
    color: var(--TitleFont);
    font-family: 'Oswald', sans-serif !important;
 }

 @media (max-width: 425px){
 
    .btnEdit, .btnDel {        
     margin-left: 15px;
    }

  
}
@media (max-width: 960px) and (min-width: 501px){
    #cuerpoNot, #noticiaBG{
        width:100%;
        margin:0px;
    }
    #columns,#sortableList,.listaSeccion, .column header, select{
        width:400%;
        margin-left:-50px;
    }
}

@media (max-width: 500px){
    #columns,#sortableList, #cuerpoNot, .listaSeccion, .column header{
        width:100%;
    }
}


 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 



body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}